<%= render "index/navbar" %>	
<div class="wrapper">
	<div class="dashboard">
		<h5> <%= current_user.full_name %></h5>
		<h5> @<%= current_user.username %></h5>
		<h5>Tweets: <%= current_user.tweets.count %></h5>
		<h5>Followers: <%= current_user.followers.count %></h5>
		<h5>Following: <%= current_user.following.count %></h5>
	</div>
	<div class="content-main">
		<h3>Tweets</h3>
		<%= form_for(tweet, method: "post", :url => "/tweet") do |f| %>
			<div class="form-group">
				<%= f.text_field :tweet, :class => "form-control", :placeholder => "Tweet" %>
			</div>
		<% end %>
	</div>
</div>