

<div class="tweet">
	<div class="contetn">
		<a class="userdata" href="<%= user_path(user) %>">
			<%= image_tag user.avatar.url(:thumb), :class => "tweeting" %>
			<strong class="fullname"><%= user.full_name	%></strong> 
			<span class="username ">@<%= user.username %></span>
		</a>
		<%= render :partial => "shared/follow_btn", :locals => {:user => user} %>
	</div>
</div>